@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    --background: #ffffff;
    --foreground: #080808;

    --primary: #0061F2;
    --primary-foreground: #fff4f4;

    --secondary: #f4f4f8;
    --secondary-foreground: #17171b;

    --muted: #f4f4f8;
    --muted-foreground: #767680;

    --danger: #f83c3c;
    --danger-foreground: #fafafa;

    --border: #e6e6e6;
    --input: #e6e6e6;
    --outline: #0061F2;

    --radius: 0.5rem;
  }

  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-base text-foreground;
  }
}
