@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #080808;

    --primary: #237af2;
    --primary-foreground: #fff4f4;

    --secondary: #f4f4f8;
    --secondary-foreground: #17171b;

    --muted: #f4f4f8;
    --muted-foreground: #767680;

    --danger: #f83c3c;
    --danger-foreground: #fafafa;

    --border: #e6e6e6;
    --input: #e6e6e6;
    --outline: #237af2;

    --radius: 8px;
  }

  html {
    @apply h-full select-none;
  }
  body {
    @apply h-full bg-background text-14 text-foreground;

    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-display: swap;
  }
}
